section > div {
    flex: 1;
}

.task {
    height: 32px;
    display: flex;
    align-items: center;
}

.steps {
    flex-direction: column;

    .step {
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;

        &:hover {
            cursor: move;
            background-color: #eaeaea;
        }
    }
}
