<ngx-monaco-editor
    [options]="editorOptions"
    [(ngModel)]="code"
    style="height: 400px; width: 100%"
    class="mt-16"
></ngx-monaco-editor>

<dx-button
    text="Test"
    (onClick)="test()"
    type="default"
    class="mt-16"
></dx-button>

<dx-diagram
    [simpleView]="true"
    pageOrientation="landscape"
    autoZoomMode="fitContent"
    class="mt-16"
>
    <dxo-toolbox visibility="disabled"></dxo-toolbox>
    <dxo-nodes
        [dataSource]="dataSource"
        keyExpr="id"
        parentKeyExpr="parentId"
        textExpr="title"
        typeExpr="type"
        imageUrlExpr="imageUrl"
    >
        <dxo-auto-layout type="tree"></dxo-auto-layout>
    </dxo-nodes>
</dx-diagram>
