<ngx-monaco-editor
    [options]="editorOptions"
    [(ngModel)]="code"
    style="height: 400px; width: 100%"
></ngx-monaco-editor>

<dx-button text="Test" (onClick)="test()" type="default"> </dx-button>

<dx-diagram
    [simpleView]="true"
    pageOrientation="landscape"
    autoZoomMode="fitContent"
>
    <dxo-toolbox visibility="disabled"></dxo-toolbox>
    <dxo-nodes
        [dataSource]="dataSource"
        keyExpr="id"
        parentKeyExpr="parentId"
        textExpr="title"
        typeExpr="type"
    >
        <dxo-auto-layout type="tree"></dxo-auto-layout>
    </dxo-nodes>
</dx-diagram>
