@use "devextreme/scss/bundles/dx.fluent.saas.light.scss";

.w-full {
    width: 100% !important;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.gap-8 {
    gap: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.fa-pen {
    color: #000 !important;
}

.fa-trash-can {
    color: #dc3545 !important;
}

.dx-datagrid .dx-row-alt > td {
    background-color: #f2f4f8 !important;
}
